.main-content {
    padding: 18px 40px;
    background: #f0f0f0;
    height: 100vh;
}

.container {
    display: flex;
}

.filter-panel {
    flex: 1;
}

.main-content {
    flex: 3;
}

.heading {
    font-size: 30px;
    font-weight: 500;
    line-height: 28.13px;
    margin-bottom: 20px;
}

.add-todo-item-wrap {
    display: flex;
    padding-left: 12px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #d2d1d6;
    background: #fff;
}

.add-todo-item-btn {
    position: relative;
    right: -1px;
    height: 46px;
    width: 140px;
    padding: 0 20px;
    color: #171c28;
    background: #ffb700;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.task-input {
    width: 100%;
    padding-right: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 144.444%;
    outline: none;
    border: none;
}

.task-input:focus {
    border-color: #77dae6;
}
