.main-content {
    padding: 18px 40px;
    background: #f0f0f0;
    height: 100vh;
}

.container {
    display: flex;
}

.filter-panel {
    flex: 1;
}

.main-content {
    flex: 3;
}

.heading {
    font-size: 30px;
    font-weight: 500;
    line-height: 28.13px;
    margin-bottom: 20px;
}

.task-input {
    height: 48px;
    width: 100%;
    padding: 0 12px;
    border-radius: 10px;
    border: 1px solid #d2d1d6;
    font-size: 18px;
    font-weight: 500;
    line-height: 144.444%;
    outline: none;
}

.task-input:focus {
    border-color: #77dae6;
}
